{% extends "body.html" %}

{% block content %}


  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo de Presentación</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for presentacion in presentaciones %}
        <tr>
          <td>{{ presentacion.nombre }}</td>
          <td>{{ presentacion.cantidad }}</td>
          <td>
            <a href="{% url 'presentacion-detail' presentacion.pk %}" class="btn btn-sm btn-info"><i class="bi bi-eye"></i></a>
            <a href="{% url 'presentacion-update' presentacion.pk %}" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i></a>
            <a href="{% url 'presentacion-delete' presentacion.pk %}" class="btn btn-sm btn-danger"><i class="bi bi-x-circle"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    
  </table>
  <div> <a href="{% url 'presentacion-create' %}" class="btn btn-primary mb-3"><i class="bi bi-plus-circle"></i> Agregar</a></div>
</div>

</div>


{% endblock %}
