{% extends 'body.html' %}

{% block content %}


  <div class="pagetitle">
    <h1>Clientes</h1>
    
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">

        <div class="card">
          <div class="card-body">
           
            

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>
                    <b>N</b>ombre
                  </th>
                  <th>Acciones</th>
              
                </tr>
              </thead>
              <tbody>
                {% for cliente in clientes %}
                  <tr>
                    <td>
                      <a href="{% url 'cliente-detail' cliente.pk %}">{{ cliente.nombre }}</a>
                                  
                    </td>
                    <td>
                      <a href="{% url 'cliente-update' cliente.pk %}" title="Editar"  class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i></a>
                      <a href="{% url 'cliente-delete' cliente.pk %}" title="Eliminar" class="btn btn-sm btn-danger"><i class="bi bi-x-circle"></i></a>
                      <a href="{% url 'almacen-create' %}?cliente_id={{ cliente.pk }}" title="Agregar Almacen" class="btn btn-sm btn-success"><i class="bi bi-building-add"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>

            </table>
            <!-- End Table with stripped rows -->
             <div class="row col-sm-2"> <a href="{% url 'cliente-create' %}"  class="btn btn-primary mb-3" ><i class="bi bi-building-add"></i> Nuevo</a></div>
           

          </div>
        </div>

      </div>
    </div>
  </section>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        // Revisa si hay mensajes de Django
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    title: "{% if message.tags == 'success' %}¡Éxito!{% elif message.tags == 'error' %}¡Error!{% else %}Información{% endif %}",
                    text: "{{ message }}",
                    icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% else %}info{% endif %}",
                    confirmButtonText: 'Aceptar',
                    timer: 5000,  // Opcional: cerrar automáticamente después de 5 segundos
                    timerProgressBar: true,
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    }
                });
            {% endfor %}
        {% endif %}
    });
</script>



{% endblock %}
