{% extends 'body.html' %}

{% block content %}
<div class="pagetitle">
    <h1>Almacenes de {{ cliente.nombre }}</h1>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Almacenes</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre del Almacén</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for almacen in almacenes %}
                                <tr>
                                    <td>{{ almacen.nombre }}</td>
                                    <td>
                                        <a href="{% url 'almacen-update' almacen.pk %}" title="Editar" class="btn btn-sm btn-warning"><i class="bi bi-pencil-square"></i></a>
                                        <a href="{% url 'almacen-delete' almacen.pk %}" title="Eliminar" class="btn btn-sm btn-danger"><i class="bi bi-x-circle"></i></a>
                                        
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="2">No hay almacenes registrados para este cliente.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'almacen-create' %}?cliente_id={{ cliente.pk }}" class="btn btn-sm btn-success"><i class="bi bi-building-add"></i> Agregar</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
