{% extends 'home.html' %}

<!DOCTYPE html>

{% block body %}
<body data-new-gr-c-s-check-loaded="14.1198.0" data-gr-ext-installed="" class="">
{% include 'header.html' %}

<main id="main" class="main">
    
        {% block content %}
        
        
        {%endblock%}
    
    </div>
</div>

{% include 'sidebar.html' %}

{% include 'footer.html' %}

<script type="text/javascript">
    $(document).ready(function() {
        // Aplica Select2 a todos los campos con clase select2
        $('.select2').select2({
            placeholder: "Selecciona un mando",
            allowClear: true,
            width: '100%'
        });
    });
</script>
</body>

{% endblock body %}









