{% extends "body.html" %}
{% load form_tags %}

{% block content %}
<main id="main" class="main">
  <div class="col-lg-6">  
<div class="card">
          <div class="card-body">
            <h5 class="card-title">Registro de Productos</h5>
  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex justify-content-start">
      <button type="submit" class="btn btn-success me-2"><i class="bi bi-floppy"></i> Guardar</button>
      <!-- Botón Cancelar -->
      <a href="{% url 'producto-list' %}">
          <button type="button" class="btn btn-warning"><i class="bi bi-backspace"></i> Atras</button>
      </a>
  </div>

  </form>
{% endblock %}


