{% extends "base_generic.html" %}

{% block content %}
  <h2 class="mb-3">Lista de Pedidos</h2>
  <a href="{% url 'pedido-create' %}" class="btn btn-primary mb-3">Nuevo Pedido</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tarjeta de Distribucion</th>
        <th>Cliente</th>
        <th>Destino</th>
        <th>Contrato</th>
        
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for pedido in pedidos %}
        <tr>
          <td>{{ pedido.numero_pedido }}</td>
          <td>{{ pedido.cliente.nombre }}</td>
          <td>{{ pedido.almacen_entrega }}</td>
          <td>{{ pedido.contrato.numero_contrato }}</td>
         
          <td>{{ pedido.total }}</td>
          <td>
            <a href="{% url 'pedido-detail' pedido.pk %}" class="btn btn-sm btn-info">Ver</a>
            <a href="{% url 'pedido-update' pedido.pk  %}" class="btn btn-sm btn-warning">Editar</a>
            


          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
