{% extends "base_generic.html" %}

{% block content %}
<div class="invoice p-3 mb-3">

  <div class="row">
  <div class="col-12">
  <h4>
  <i class="fas fa-globe"></i>
 
  </h4>
  </div>
  
  </div>
  
  <div class="row invoice-info">
    
  
  <div class="col-sm-4 invoice-col">
  
  <address>
  <h4>{{ pedido.cliente.nombre }}</h4><br>
  <h6>Direccion de Entrega:</h6>{{ pedido.almacen_entrega }}<br>
 
  </div>
  
  <div class="col-sm-4 invoice-col">
  <b>Tarjeta de Distribucion: {{pedido.numero_pedido}} </b><br>

  <b>Contrato:</b> {{ pedido.contrato.numero_contrato }}<br>
  <br>
  <br>
 
  </div>
  
  </div>
  
  
  <div class="row">
  <div class="col-12 table-responsive">
  <table class="table table-striped">
  <thead>
  <tr>
    <th>Cantidad</th>
    <th>Producto</th>
    <th>Presentación</th>
    <th>Atenciones</th>
    <th>Precio Unitario</th>
    <th>Importe</th>
  </tr>
  </thead>
  <tbody>
    {% for detalle in pedido.detalles.all %}
    
  <tr>
    
    <td>{{ detalle.cantidad }}</td>
    <td>{{ detalle.producto.nombre }}</td>
    <td>{{ detalle.presentacion }}</td>
    <td>{{ detalle.atenciones }}</td>
    <td>{{ detalle.producto.precio_unitario }}</td>
    <td>{{ detalle.importe }}</td>
  </tr>
  

  {% endfor %}
  </tbody>
  </table>
  </div>
  
  </div>
  
  <div class="row">
  
  <div class="col-6">
      
  </div>
  
  <div class="col-6">
  
  <div class="table-responsive">
  <table class="table">
  <tr>
  <th style="width:50%">Subtotal:</th>
  <td>${{ pedido.subtotal }}</td>
  </tr>
  <tr>
  <th>I.V.A: (16%)</th>
  <td>${{ pedido.iva }}</td>
  </tr>
  <tr>
 
  </tr>
  <tr>
  <th>Total:</th>
  <td><h4>${{ pedido.total }}</h4></td>
  </tr>
  </table>
  </div>
  </div>
  
  </div>
  
  
  <div class="row no-print">
  <div class="col-12">
  <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
  <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
  Payment
  </button>
  <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
  <i class="fas fa-download"></i> Generate PDF
  </button>
  </div>
  </div>
  </div>
  
  </div>
  </div>
  </div>
  </section>
  
  </div>
{% endblock %}
